.facetFilter {
    margin-top: 20px;
}

.filterWrapper {
    flex-shrink: 0;
}

.appliedFilters h3 {
    margin: 0 0 10px;
}

.selectedCategories {
    display: flex;
    flex-wrap: wrap;
}
.selectedCategory {    
    padding-bottom: 8px;
}

.selectedCategory span {
    box-sizing: border-box;
    margin: 0px 4px 0px 0px;
    min-width: 0px;
    font-size: 16px;
    font-weight: 600;
    color: rgb(51, 51, 51);
}
  
.closeButton {
    cursor: pointer;
    border: none;
    background-color: transparent;
    padding: 0px;
    color: rgb(153, 153, 153);
    font-size: 16px;
    align-items: center;
    margin-right: 8px;
}

.resetButton {
    cursor: pointer;
    border: none;
    background-color: transparent;
    padding-left: 1px;
    font-size: 16px;
    line-height: 1.43;
    color: rgb(153, 153, 153);
}

.resetButton:hover,
.closeButton:hover {
    color: rgb(51, 51, 51);
}


@media screen and (min-width: 768px) {
    .filterWrapper {
        width: 40%;
    }
    .facetFilter {
        display: flex;
        flex-direction: row;
    }
    .appliedFilters {
        margin-left: 40px;
    }
  }